<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Web Fonts
    ================================================== -->
    <link rel="icon" href="/kbmimages/whatsapp_image_2024-11-07_at_15.05.18-removebg-preview.png" type="image/x-icon"   />
  

    <!-- Basic Page Needs
    ================================================== -->

    <title>KHATIYAANEE BHUDDHIJEEVEE MANCH</title>
    <!--meta info-->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Vendor CSS
    ============================================ -->

    <link rel="stylesheet" href="~/font/linea-basic/styles.css">
    <link rel="stylesheet" href="~/font/linea-ecommerce/styles.css">
    <link rel="stylesheet" href="~/font/linea-arrows/styles.css">
    <link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="~/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="~/plugins/revolution/css/navigation.css">
    <!-- CSS theme files
    ============================================ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontello.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>

        .top-bar > ul > li {
            border-right: 1px  #dedede;
            padding: 0 4px;
        }

        .fa {
            padding: 5px;
            font-size: 17px;
            width: 29px;
            text-align: center;
            text-decoration: none;
            margin: 1px 0px;
            border-radius: 12px;
        }

            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }


        .contact-banner {
            background: url(/images/contactus.jpg) no-repeat;
            padding: 100px 0;
            background-size: cover;
            background-attachment: fixed;
        }

        .about-text h1 {
            color: #fff;
            font-size: 50px;
            margin: -35px;
            text-align: center;
        }

        .info-wrap {
            border-radius: 5px;
        }

        .bg-primary {
            background: #4caf50 !important;
        }

        .p-lg-5 {
            padding: 3rem !important;
        }

        .p-4 {
            padding: 1.5rem !important;
        }

        .w-100 {
            width: 100% !important;
        }

        html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .container_m {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .top-contact {
            float: right !important;
            background: #fff;
            padding: 5px;
            border-radius: 10px;
        }



            .top-contact a {
                font-size: 21px;
            }

         @@media (max-width: 992px) {
            .top-contact a {
                font-size: 12px;
            }
        }


        #header.white-background {
            background-image: none;
            background-color: white !important;
        }

        .menu-holder {
            padding-left: 0px !important;
        }
        
    </style>

</head>
<body>

    <div class="loader"></div>


    <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

    <div id="wrapper" class="wrapper-container">

        <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

        <nav id="mobile-advanced" class="mobile-advanced"></nav>

        <header id="header" class="header-3">

            <!-- top-header -->

            <div class="top-header" style="padding-top: 0px; /* background-color:maroon */">

                <div class="container_m">


                    <div class="row" style="background-color:#31511E;">
                        <div class="col-lg-6">




                            <div class="d-flex align-items-center">
                                <!-- Logo -->
                                <div class="logo-wrap me-3">
                                    <a href="/Home/Index" class="logo">
                                        <img src="~/kbmimages/whatsapp_image_2024-11-07_at_15.05.18-removebg-preview.png" alt="" width="300" height="90" style="width:128px;">
                                    </a>
                                </div>

                                <!-- Heading -->
                                <div class="head-title">
                                    <h3 class="display-5 text-lightblue mb-0">
                                        <strong class="text-white" style="font-size: 1rem;">खतियानी बुद्धिजीवी मंच</strong>
                                        
                                    </h3>
                                </div>
                            </div>





                           

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 top-bar d-flex align-items-center justify-content-center justify-content-md-start" style="padding-top: 15px;">
                            <div class="d-flex align-items-center" style="color:white; font-size:x-large; margin-top:12px;">
                                <span style="font-size: 1rem;">
                                    <img src="~/images/phone-1.svg" alt="phone-no" style="background-color:white; margin-right: 8px;">
                                </span>
                                <span style="font-size:1rem;">+91 9471566696</span>

                            </div>
                        </div>

                        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end" style="padding-top: 9px;">
                            <div id="google_translate_element"></div>
                        </div>










                    </div>
                    <div class="row">

                        <!--main menu-->
                        <div class="menu-holder" style="padding-left: 0px !important;text-align: left;">

                            <div class="menu-wrap">

                                <div class="nav-item">

                                    <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

                                    <nav id="main-navigation" class="main-navigation">
                                        <ul id="menu" class="clearfix">
                                            <li>
                                                <a href="/">Home</a>

                                            </li>
                                            <li>
                                                <a href="/Home/AboutUs">About Us</a>

                                            </li>
                                            <li>
                                                <a href="/Home/Event">Events</a>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#">Service</a>
                                                <!--sub menu-->
                                                <div class="sub-menu-wrap">
                                                    <ul>
                                                        <li>
                                                            <a href="/Home/Education">Education</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/Health">Health</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/Environment">Environment</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/Sports">Sports</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/Empolyment">Empolyment</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/EriticationOfSocialEvent">Eritication Of Social Event</a>
                                                        </li>
                                                     
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Our Leadership</a>
                                                <!--sub menu-->
                                                <div class="sub-menu-wrap">
                                                    <ul>
                                                        <li>
                                                            <a href="/Home/VijayKumarMahto">Vijay Kumar Mahto</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/AmleshKumarMahto">Amlesh Kumar Mahto</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/BirjuMahto">Birju Mahto</a>
                                                        </li>
                                                         <li>
                                                            <a href="/Home/PradeepKumar">Pradeep Kumar</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Home/BaijnathMahto">Baijnath Mahto</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="/Home/OurJourney">Journey</a>
                                            </li>

                                            <li>
                                                <a href="/Home/ContactUs">Contact Us</a>
                                            </li>
                                          
                                        </ul>
                                    </nav>

                                    <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->
                                  
                                </div>

                            </div>

                        </div>


                    </div>
                </div>


            </div>
        </header>
        <div class="page-content-wrap" style="padding: 0px !important;">
            <div id="content">
                @RenderBody()
            </div>
        </div>

        <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <footer id="footer" class="footer-3">

           

            <div class="main-footer" style="background-color:#14468c;">

                <div class="container">

                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-3">

                            <div class="widget">

                                <h6 class="widget-title" style="color:white;">Quick Links</h6>

                                <div class="row">

                                    <div class="col-xs-6">

                                        <ul class="info-links">

                                            <li><a href="/home/index" style="color:white;"> Home</a></li>
                                            <li> <a href="/home/AboutUs/" style="color:white;">About Us</a></li>

                                        </ul>

                                    </div>
                                    <div class="col-xs-6">
                                        <ul class="info-links">
                                            <li><a href="/Home/Event" style="color:white;">Events</a></li>
                                            <li><a href="/Home/ContactUs" style="color:white;">Contact Us</a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">

                            <div class="widget align-center">

                                <div class="copyright">
                                    <br />
                                    <br /><br />
                                   
                                        &copy;	<script>document.write(new Date().getFullYear())</script>
                                        KBM | All Right Reserved

                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-4 col-lg-5 align-items-stretch" style="color:white; background-color:darkred;" ">
                            <div class="info-wrap  w-100 p-lg-5 p-4">
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="text pl-3">
                                        <p>
                                            <span>	<span class="fa fa-map-marker"></span> Address:-</span>
                                            <span>Jamtara Masjid Gali,Jamtara panchayat,</span>
                                            <sapn style="margin-left:103px;"> Jamtara, Giridih, Jharkhand- 825106</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">

                                    <div class="text pl-3">
                                        <p><span><span class="fa fa-phone"></span> Phone:-</span> (+91) 9471566696</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">

                                    <div class="text pl-3">
                                        <p><span> <span class="fa fa-envelope"></span> Email:-</span>info@kbm.org.in</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>

                        @await RenderSectionAsync("Scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,hi,bn' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&random=" + Math.random()></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/libs/jquery.modernizr.js"></script>
    <script src="~/js/libs/jquery-2.2.4.min.js"></script>
    <script src="~/js/libs/jquery-ui.min.js"></script>
    <script src="~/js/libs/retina.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/plugins/jquery.queryloader2.min.js"></script>
    <script src="~/plugins/isotope.pkgd.min.js"></script>
    <script src="~/plugins/owl.carousel.min.js"></script>
    <script src="~/plugins/bootstrap.js"></script>
   
    <script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js?ver=5.0"></script>
    <script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js?ver=5.0"></script>



    <!-- JS theme files
    ============================================ -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
    <script>

        window.addEventListener("scroll", function () {
            var header = document.querySelector("#header");
            var scrollY = window.scrollY || document.documentElement.scrollTop;

            if (scrollY > 50) {  // Adjust this value as needed for when the background should change
                header.classList.add("white-background");
            } else {
                header.classList.remove("white-background");
            }
        });
        $(document).ready(function () {
            $('#btnjoinus').click(function () {
                const mobile = document.getElementById('txtMobileNumber').value;
                const mobileRegex = /^[0-9]{10}$/; // Example for a 10-digit mobile number
                if (!mobileRegex.test(mobile)) {
                    alert("Please enter a valid mobile number (10 digits)");
                    return false;
                }
                
            });
        });
    </script>
</body>
</html>
