
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .a {
        color: #ff9800 !important
    }

    .contact-banner {
        background: url(/images/contactus.jpg) no-repeat;
        padding: 100px 0;
        background-size: cover;
        background-attachment: fixed;
    }


    .about-text h1 {
        color: #fff;
        font-size: 50px;
        margin: -35px;
        text-align: center;
    }

    h3 {
        font-size: 36px;
    }
</style>
<div class="breadcrumbs-wrap with-bg type-2">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</div>

<div class="page-content-wrap">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-10 col-sm-10">

                <div class="content-element">

                    <h3>About The Khatani Buddhijibi Mancha (KBM) </h3>

                    <p style="text-align:justify;">The Khatani Buddhijibi Mancha (KBM) was initiated in 2010 from a small village called Nichitpur (Galagi), located in the Dumri block of Giridih district, Jharkhand. The situation in this village was quite dire. People were far removed from education, the healthcare system was in terrible shape, there were no employment opportunities, and social evils like dowry practices, witchcraft, superstitions, and frequent disputes plagued the community. There was no respect for elders, and most people were addicted to intoxicants. The environment was being degraded with deforestation, and even small plants and trees were being cut down, with forests frequently set on fire..</p>

                    <p style="text-align:justify;">Witnessing all these issues, the local intellectuals came together and formed a group with the aim of bringing about a comprehensive social transformation. Their primary focus was on areas like education, healthcare, the environment, employment, sports, addiction-free living, and eliminating all forms of social evils. They made a pledge to turn this village into a model village. A dilapidated community hall within the village was repaired, and free remedial classes were started for the children and youth. Daily basic classes were organized for children of all sections, and monthly tests, quizzes, debates, discussions, moral education, painting competitions, and entertainment activities like drama, dancing, singing, and indoor games such as carrom and chess were held.</p>

                    <p style="text-align:justify;">Outdoor sports such as running, karate, yoga, silambam, wrestling, boxing, cricket, volleyball, and football were practiced daily under the supervision of trainers. Our children started representing the district, the state, and even in other states. Along with the children, parents were also called for monthly meetings to raise awareness on various topics, such as: How to properly care for their children. How to live a happy family life. How to quit intoxicants. How to curb anti-social elements. How to eliminate superstitions and social evils. How to create employment opportunities. How to avoid conflicts and disputes..</p>

                    <p style="text-align:justify;"> Gradually, people began to support the organization, seeing its positive impact on the village. People from neighboring villages also began to appreciate the work, and soon, our organization started operating in other villages as well. We began expanding to other areas of the Giridih district, such as Galagi, Hursodi, Madeydih, Thakurchak, Shankardih, and Jaridih, as well as in Bokaro district's Sadariyadih village and Singhdih village in the Dhanbad district..</p>

                    <p style="text-align:justify;">Together, these villages began organizing large annual events like career counseling, blood donation camps, tree plantations, cleanliness drives, adventure camps, picnics, distribution of notebooks and pens to children from remote and impoverished families, awareness campaigns about education, library construction, preparing youth for competitive exams, putting out forest fires, and conducting women empowerment shows. Numerous such programs were held..</p>

                    <p style="text-align:justify">During this time, we faced many challenges. A shortage of funds was a constant issue, and some political figures even tried to disrupt our work. However, the organization remained active. In the meantime, I got a job in the railways in 2016 and had to leave the village. Gradually, our other members also left to pursue further opportunities, and the organization’s activities slowed down. I then found a new way forward. I started connecting with all my employed friends and re-established contacts. Slowly, we formed an employee group and resumed social work during our time off. Over time, more intellectuals from across the state joined our organization. I realized that after securing a job, it becomes difficult to manage social work due to time constraints. So, why not prove the proverb "drop by drop fills the ocean" to be true?.</p>
                </div>
            </main>
            <main id="main" class="col-md-12 col-sm-12">
                <div class="content-element7">
                    <br />
                    <h3>Our Membership</h3>

                    <div class="team-holder">

                        <div class="row flex-row">
                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="/Home/VijayKumarMahto" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/bijaykumarmahto.jpeg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Home/VijayKumarMahto">Vijay Kumar Mahto</a></h5>
                                            <h6 class="member-position">Member</h6>
                                           @*  <p style="text-align:justify;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p> *@
                                            <a href="~/Home/VijayKumarMahto" class="btn btn-style-3">More Details</a>
                                        </div>
                                        @*  <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>
                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="~/Home/AmleshKumarMahto" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/man.jpg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Home/AmleshKumarMahto">Amlesh Kumar Mahto</a></h5>
                                            <h6 class="member-position">Member</h6>
                                            <p style="text-align:justify;">
                                               @*  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
                                            </p>
                                            <a href="~/Home/AmleshKumarMahto" class="btn btn-style-3">More Details</a>

                                        </div>
                                        @*    <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="~/Home/BirjuMahto" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/birjumahto.jpeg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Home/BirjuMahto">Birju Mahto</a></h5>
                                            <h6 class="member-position">Member</h6>
                                            <p style="text-align:justify;">
                                                @* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
                                            </p>
                                            <a href="~/Home/BirjuMahto" class="btn btn-style-3">More Details</a>

                                        </div>
                                        @*    <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>

                         
                        </div>

                    </div>

                </div>




            </main>
            
            <main id="main" class="col-md-12 col-sm-12">
                <div class="content-element7">
                    <br /><br />
                   @*  <h3>Our Party Leadership</h3> *@

                    <div class="team-holder">

                        <div class="row flex-row">
                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="/Home/PradeepKumar" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/pradeepkumar.jpeg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Member/JairamMahto">Pradeep Kumar</a></h5>
                                            <h6 class="member-position">Member</h6>
                                            @* <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p> *@
                                            <a href="~/Home/PradeepKumar" class="btn btn-style-3">More Details</a>
                                        </div>
                                        @*  <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>
                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="/Home/BaijnathMahto" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/man.jpg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Home/BaijnathMahto">Baijnath Mahto</a></h5>
                                            <h6 class="member-position">Member</h6>
                                            <p style="text-align:justify;">
                                                @* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
                                            </p>
                                            <a href="/Home/BaijnathMahto" class="btn btn-style-3">More Details</a>

                                        </div>
                                        @*    <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-4 col-xs-4">

                                <!-- team element -->
                                <div class="team-item">

                                    <div class="team-member">
                                        <a href="~/Home/ArjunMahto" class="member-photo">
                                            <img style="border-radius: 5px;" src="~/images/man.jpg" alt="Rahul" width="360" height="302" />
                                        </a>
                                        <div class="member-info">
                                            <h5 class="member-name"><a href="/Home/ArjunMahto">Arjun Mahto</a></h5>
                                            <h6 class="member-position">Member</h6>
                                            <p style="text-align:justify;">
                                                @* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." *@
                                            </p>
                                            <a href="~/Home/ArjunMahto" class="btn btn-style-3">More Details</a>

                                        </div>
                                        @*    <div class="overlay">
                                        <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo.php?fbid=5399544106835713&set=t.100051035462068&type=3" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Instagram</a></li>

                                        </ul>

                                        </div>
                                        </div> *@
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>




            </main>
           @*  <aside id="sidebar" class="col-md-4 col-sm-12">
                <div class="widget widget-bg2">

                    <h5 class="wt-title">Join The Party</h5>

                    <div class="join-us style-4">

                        <p>Khatiyaanee Bhudhijeevee Manch (KBM). </p>

                         <form id="newsletter" class="join-form">
                         
                            <input type="text" id="txtMobileNumber" maxlength="10" onkeypress="return isNumber(event)" placeholder="Mobile Number" required>
                            <button type="button" id="btnjoin" class="btn btn-style-6 btn-big">Join Us</button>
                            <div class="message-container-subscribe"></div>
                        </form>

                    </div>

                </div>
            </aside> *@
        </div>

    </div>

</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        $(document).ready(function () {
            $('#btnjoin').click(function () {
                const mobile = document.getElementById('txtMobileNumber').value;
                const mobileRegex = /^[0-9]{10}$/; // Example for a 10-digit mobile number
                if (!mobileRegex.test(mobile)) {
                    alert("Please enter a valid mobile number (10 digits)");
                    return false;
                }
                //window.location.href = "/member/JoinMember?userType=member"
            });
        });
    </script>
}
