@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/libs/jquery.modernizr.js"></script>
    <script src="~/js/libs/jquery-2.2.4.min.js"></script>

    <div class="contact-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-text">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumbs-wrap with-bg type-2">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    @* <div class="container">
    <div class="row">
    <main id="main" class="col-md-12 col-sm-12">
    <div class="content-element7">
    <div class="map-section">
    </div>
    </div>

    <div class="row">
    <div class="join-us style-4 col-lg-6 col-md-6">
    <form id="contact-form" class="join-form">
    <div class="row flex-row">
    <div class="col-sm-2">
    <label class="required" for="title">Title:</label>
    <select id="ddltitle" name="title" required>
    <option value="">--Select--.</option>
    <option value="mr">Mr.</option>
    <option value="mrs">Mrs.</option>
    <option value="mrs">Miss.</option>
    <option value="mrs">Dr.</option>
    </select>
    </div>
    <div class="col-sm-8">
    <label class="required">Full Name</label>
    <input name="cf-name" id="txtName" required type="text">
    </div>
    </div>
    <div class="row flex-row">
    <div class="col-sm-10">
    <label class="required">Mobile Number</label>
    <input type="text" required maxlength="10" onkeypress="return isNumber(event)" id="txtMobileNo">
    </div>
    </div>
    <div class="row flex-row">
    <div class="col-sm-10">
    <label>Email Id</label>
    <input name="cf-email" id="txtEmailId" type="text">
    </div>
    </div>

    <div class="row flex-row">
    <div class="col-sm-10">
    <label>Message</label>
    <textarea id="txtMessage" required name="cf-message" placeholder="Write Your Message" rows="5"></textarea>
    </div>
    </div>
    <div class="row flex-row">
    <div class="col-sm-12">
    <button type="button" class="btn btn-style-4" id="btnSave" data-type="submit">Submit</button>
    </div>
    </div>
    </form>
    </div>

    <div class="col-md-6 col-lg-6 align-items-stretch">
    <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
    <div class="dbox w-100 d-flex align-items-start">
    <div class="text pl-3">
    <p>
    <span>	<span class="fa fa-map-marker"></span> Address:-</span>
    Jamtara Masjid Gali,Jamtara panchayat, Jamtara, Giridih, Jharkhand- 825106
    </p>
    </div>
    </div>
    <div class="dbox w-100 d-flex align-items-center">

    <div class="text pl-3">
    <p><span><span class="fa fa-phone"></span> Phone:-</span> <a href="tel://1234567920">(+91) 91733-3390</a></p>
    </div>
    </div>
    <div class="dbox w-100 d-flex align-items-center">

    <div class="text pl-3">
    <p><span> <span class="fa fa-envelope"></span> Email:-</span> <a href="mailto:info@yoursite.com">info@jlkmparty.org</a></p>
    </div>
    </div>

    </div>
    </div>
    </div>

    </main>

    </div>

    </div> *@
    <div class="map-container">
        @* <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3655.0424608760163!2d86.14606878695848!3d23.63865036337879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e9!4m5!1s0x39f423dc93e4aaf7%3A0xff939c5f29385269!2sSt%20Xavier%20Colony%2C%20Ghous%20Nagar%20Colony%2C%20Bokaro%20Steel%20City%2C%20Jharkhand!3m2!1d23.6504552!2d86.16595629999999!4m3!3m2!1d23.6364138!2d86.1474032!5e0!3m2!1sen!2sin!4v1728744496866!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1822.3928078178458!2d86.0158876329661!3d24.003346415509032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4095158bbc51b%3A0xd25659142228adfa!2sJamtara%20Masjid!5e0!3m2!1sen!2sin!4v1731308700670!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 col-sm-12">
                <div class="content-element7">
                    <div class="map-section">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-lg-6 align-items-stretch">
                        <div class="info-wrap bg-success w-100 p-lg-5 p-4">
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="text pl-3" style="color:white;">
                                    <p>
                                    <span>	<span class="fa fa-map-marker"></span> Address:-</span>
                                    <span>Jamtara Masjid Gali,Jamtara panchayat,</span>
                                    <sapn style="margin-left:103px;"> Jamtara, Giridih, Jharkhand- 825106 </span>
                                    </p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">

                                <div class="text pl-3" style="color:white;">
                                <p><span><span class="fa fa-phone"></span> Phone:-</span> (+91) 9471566696</p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">

                                <div class="text pl-3" style="color:white;">
                                <p><span> <span class="fa fa-envelope"></span> Email:-</span> info@kbm.org.in</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <br />
            </main>

        </div>

    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->


<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        $("#btnSave").bind("click", function () {

            const title = document.getElementById('ddltitle').value;
            const name = document.getElementById('txtName').value;
            const mobile = document.getElementById('txtMobileNo').value;
            const emailId = document.getElementById('txtEmailId').value;
            const message = document.getElementById('txtMessage').value;
            const phoneno = /^(\d{10})$/; // Matches a 10-digit number
            const emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/; // Correct email format

            if (title == "") {
                alert("Please enter title");
                return false;
            }
            if (name == "") {
                alert("Please enter full name");
                return false;
            }
            if (mobile == "") {
                alert("Please enter mobile number");
                return false;
            }
            if (!mobile.match(phoneno)) {
                alert("Please enter a valid mobile number (10 digits).");
                return false;
            }

            if (emailId !== "") {
                if (!emailId.match(emailPattern)) {
                    alert("Please enter a valid email id");
                    return false;
                }
            }

            var formData = {};
            formData.title = title;
            formData.name = name;
            formData.mobileNo = mobile;
            formData.emailId = emailId;
            formData.message = message;



            $.ajax({
                url: "/Home/ContactUs",
                type: "POST",
                data: formData,
                success: function (data) {

                    if (data.isSuccess) {
                        document.getElementById('txtName').value = '';
                        document.getElementById('txtMobileNo').value = '';
                        document.getElementById('txtEmailId').value = '';
                        document.getElementById('txtMessage').value = '';
                        alert('Thank you for contacting us');

                    }
                    else {
                        alert('Something went wrong');
                        return false;
                    }

                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });


        });
    });
</script>