
@{
    ViewData["Title"] = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .product.single .product-description {
        padding: 0;
        color: #5f6366;
    }

    .product-description {
        position: relative;
    }

    .product.single .product-name:not(:last-child) {
        margin-bottom: 5px;
    }

    .product.single .product-name {
        line-height: 48px;
        font-weight: normal;
    }

    .product.single .product-price {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 45px;
    }
</style>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<style>
    .text-justify {
        text-align: justify !important;
    }
</style>
<div class="breadcrumbs-wrap with-bg type-2">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Education </li>
        </ul>
    </div>
</div>

<div class="page-content-wrap">
    <div class="container">
        <div class="content-element7">
            <div class="product single">

                <div class="row">
                    <div class="col-sm-7">

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->

                        <div class="product-description">

                            <h3 class="product-name" style="margin-left: -12px; color:darkblue;"><strong>Education</strong></h3>

                            <div class="pricing-area">

                                @* <div class="product-price" style="margin-left: 0px;">
                                    Loreum
                                </div> *@

                            </div>


                            <p class="product-excerpt">
                                <ul class="custom-list type-2">
                                    <li style="text-align:justify;">
                                        KBMs are pivotal in advancing education, especially in underserved communities. They work to provide access to quality education for marginalized groups, including girls, children with disabilities, and those in rural or conflict-affected areas. KBMs help by building schools, training teachers, and supplying educational resources. They also promote inclusive education, addressing barriers like poverty, gender inequality, and lack of infrastructure. Beyond formal education, KBMs offer vocational training and life skills development to improve employment prospects. Through these efforts, they empower individuals, fostering social mobility and community development, contributing to global goals for equitable and inclusive education.
                                    </li>
                                    @* <li>
                                    He is the Independent candidate who contested the 2024 Lok Sabha elections from the Giridih constituency in Jharkhand.     At 29 years old, Jairam is a dedicated and educated representative of the youth, holding a postgraduate degree. His candidacy reflects his commitment to bringing fresh perspectives to the political landscape of Jharkhand.
                                    </li>
                                    <li>
                                    Professionally engaged as a student, Jairam also carries the weight of responsibility with 13 legal cases filed against him, which he continues to address.
                                    </li>
                                    <li>
                                    Jairam Kumar Mahato stands as a strong voice for the people of Jharkhand, aiming to create meaningful change and represent Jharkhand State with integrity.

                                    </li>
                                    <li>
                                    Join us in supporting Jairam’s vision for a better Jharkhand and a brighter future for India.

                                    </li> *@
                                </ul>

                            </p>
                           @*  <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">

                                        <li><a href="#" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" target="_blank" class="sh-google"><i class="instagram"></i>Instagram</a></li>
                                    </ul>

                                </div>

                            </div> *@

                        </div>



                    </div>

                    <div class="col-sm-5">

                        <div class="image-preview-container">

                            <!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->

                            <div class="image-preview">

                               

                                <table style="width:100%">
                                    <tr>

                                        <img src="~/images/edu.jpeg" style="width: 442px;border-radius: 23px;border: 2px solid #4CAF50;" />

                                      
                                    </tr>
                                    

                                </table>


                            </div>
                            

                           

                           
                        </div>

                    </div>

                   

                </div>

            </div>

        </div>

    </div>
</div>