@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs-wrap with-bg type-2">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Event</li>
        </ul>
    </div>
</div>

<div class="page-content-wrap">

    <div class="container">

        <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->

        <div id="options">
            <div id="filters" class="isotope-nav">
                <button class="is-checked" data-filter="*">All</button>
                <button data-filter=".category_2">Past Event</button>
                <button data-filter=".category_3">Upcoming Event</button>

            </div>
        </div>

        <!-- - - - - - - - - - - - - - End of Filter - - - - - - - - - - - - - - - - -->

        <div class="isotope two-collumn clearfix portfolio-holder" data-isotope-options='{"itemSelector" : ".item","layoutMode" : "fitRows","transitionDuration":"0.7s","fitRows" : {"columnWidth":".item"}}'>

            @*   Past Events *@
            <div>
                <div class="item category_2" style="position: absolute; left: 0px; top: 0px;">

                    <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

                    <div class="project">

                        <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                        <div class="project-image">

                            <iframe style="border-radius:8px;" height="350" src="https://www.youtube.com/embed/UxTasa5mNxY" title="CM Excellence school मे हुआ selection/ ahardih centre/JKBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="overlay">
                            </div>
                            <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                            <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                        </div>
                        <div class="project-description">

                            <div class="description-inner">

                                <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">CM Excellence school मे हुआ selection/ ahardih centre/JKBM|</a></h5>


                                <div class="content-element2">

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">

                                            <h6 class="event-detail-title"><b>Details</b></h6>

                                            <ul class="event-detail-list">
                                                <li class="flex-row flex-justify">

                                                    <div class="detail-col">
                                                        Date:
                                                    </div>
                                                    <div class="detail-col">
                                                        July 25, 2024
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>

                                        <div class="col-md-6">
                                        </div>
                                    </div>

                                </div>
                                <div class="content-element">

                                    <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                            <li><a href="http://www.facebook.com/sharer.php?u=https://youtu.be/QMGKNDLty-4" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                            <li> <a href="whatsapp://send?text=https://youtu.be/QMGKNDLty-4" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                        </ul>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

                </div>
                <div class="item category_2" style="position: absolute; left: 418px; top: 0px;">

                    <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

                    <div class="project">

                        <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                        <div class="project-image">

                            <iframe style="border-radius:8px;" height="350" src="https://www.youtube.com/embed/7_2MgqqBMRY" title="July 17 /वृक्षारोपण सह वितरण कार्यक्रम /jkbm/ निशुल्क" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="overlay">
                            </div>
                            <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                            <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                        </div>
                        <div class="project-description">

                            <div class="description-inner">

                                <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">July 17 /वृक्षारोपण सह वितरण कार्यक्रम /jkbm/ निशुल्क  |</a></h5>


                                <div class="content-element2">

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">

                                            <h6 class="event-detail-title"><b>Details</b></h6>

                                            <ul class="event-detail-list">
                                                <li class="flex-row flex-justify">

                                                    <div class="detail-col">
                                                        Date:
                                                    </div>
                                                    <div class="detail-col">
                                                        October 10, 2024
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>

                                        <div class="col-md-6">
                                        </div>
                                    </div>

                                </div>
                                <div class="content-element">

                                    <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                            <li><a href="http://www.facebook.com/sharer.php?u=https://www.youtube.com/embed/7_2MgqqBMRY" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                            <li> <a href="whatsapp://send?text=https://www.youtube.com/embed/7_2MgqqBMRY" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                        </ul>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                    </div>
                    <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

                </div>

              @*   <div class="item category_2" style="position: absolute; left: 418px; top: 0px;">

                    <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->
                    <div class="project">

                        <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                        <div class="project-image">

                            <iframe width="555" height="315" src="https://www.youtube.com/embed/O5Z-PAgQpr0?si=WF0c47GBnrD2jhLO" title="गोड्डा में दिखा टाइगर जयराम महतो का जबरदस्त करेज!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                            <div class="overlay">
                            </div>
                            <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                            <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                        </div>
                        <div class="project-description">

                            <div class="description-inner">

                                <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">गोड्डा में दिखा टाइगर जयराम महतो का जबरदस्त करेज! |</a></h5>


                                <div class="content-element2">

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">

                                            <h6 class="event-detail-title"><b>Details</b></h6>

                                            <ul class="event-detail-list">
                                                <li class="flex-row flex-justify">

                                                    <div class="detail-col">
                                                        Date:
                                                    </div>
                                                    <div class="detail-col">
                                                        October 07, 2024
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>

                                        <div class="col-md-6">
                                        </div>
                                    </div>

                                </div>
                                <div class="content-element">

                                    <div class="share-wrap style-2">

                                        <span class="share-title">Share this:</span>
                                        <ul class="social-icons share">

                                            <li><a href="http://www.facebook.com/sharer.php?u=https://www.youtube.com/embed/O5Z-PAgQpr0?si=WF0c47GBnrD2jhLO" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                            <li> <a href="whatsapp://send?text=https://www.youtube.com/embed/O5Z-PAgQpr0?si=WF0c47GBnrD2jhLO" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                        </ul>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                </div> *@
                <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

            </div>
            @* <div class="item category_2" style="position: absolute; left: 0px; top: 0px;">

                <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

                <div class="project">

                    <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                    <div class="project-image">

                        <iframe width="555" height="315" src="https://www.youtube.com/embed/-qh2lH1z3Zg?si=zWkEcUJ7WWmwk1Lz" title="जयराम महतो ने रखा अपना पक्ष !हम सभी के आस्था का सम्मान करते हैं राज्य में और भी मुद्दा है" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                            <div class="overlay">
                        </div>
                        <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                    </div>
                    <div class="project-description">

                        <div class="description-inner">

                            <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">जयराम महतो ने रखा अपना पक्ष !हम सभी के आस्था का सम्मान करते हैं राज्य में और भी मुद्दा है|</a></h5>


                            <div class="content-element2">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <h6 class="event-detail-title"><b>Details</b></h6>

                                        <ul class="event-detail-list">
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Date:
                                                </div>
                                                <div class="detail-col">
                                                    October 08, 2024
                                                </div>

                                            </li>

                                        </ul>

                                    </div>

                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.youtube.com/embed/-qh2lH1z3Zg?si=zWkEcUJ7WWmwk1Lz" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li> <a href="whatsapp://send?text=https://www.youtube.com/embed/-qh2lH1z3Zg?si=zWkEcUJ7WWmwk1Lz" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

            </div> *@
            @* <div class="item category_2" style="position: absolute; left: 418px; top: 0px;">

                <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

                <div class="project">

                    <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                    <div class="project-image">

                        <iframe width="555" height="315" src="https://www.youtube.com/embed/poH9qBg47ZQ?si=WTBt3nEs8EHMjY7U" title="गिरिडीह में पहली बार उमड़ा जनसैलाब. गिरिडीह विधायक से मांगा हिसाब" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                            <div class="overlay">
                        </div>
                        <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                    </div>
                    <div class="project-description">

                        <div class="description-inner">

                            <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">गिरिडीह में पहली बार उमड़ा जनसैलाब. गिरिडीह विधायक से मांगा हिसाब |</a></h5>


                            <div class="content-element2">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <h6 class="event-detail-title"><b>Details</b></h6>

                                        <ul class="event-detail-list">
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Date:
                                                </div>
                                                <div class="detail-col">
                                                    October 01, 2024
                                                </div>

                                            </li>

                                        </ul>

                                    </div>

                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.youtube.com/embed/poH9qBg47ZQ?si=WTBt3nEs8EHMjY7U" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li> <a href="whatsapp://send?text=https://www.youtube.com/embed/poH9qBg47ZQ?si=WTBt3nEs8EHMjY7U" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

            </div> *@

           @*  <div class="item category_2" style="position: absolute; left: 418px; top: 0px;">

                <!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

                <div class="project">

                    <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                    <div class="project-image">

                        <iframe width="555" height="315" src="https://www.youtube.com/embed/wJtC4NxvjQA?si=UXx1tLQeTINQev6V" title="टाइगर जयराम महतो ने जारी किया JLKM का सेकंड लिस्ट!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                            <div class="overlay">
                        </div>
                        <!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->
                        <!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

                    </div>
                    <div class="project-description">

                        <div class="description-inner">

                            <h5 class="project-title"><a style=" color: #167ac6 !important;" href="#">टाइगर जयराम महतो ने जारी किया JLKM का सेकंड लिस्ट! |</a></h5>


                            <div class="content-element2">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <h6 class="event-detail-title"><b>Details</b></h6>

                                        <ul class="event-detail-list">
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Date:
                                                </div>
                                                <div class="detail-col">
                                                    October 10, 2024
                                                </div>

                                            </li>

                                        </ul>

                                    </div>

                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">

                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.youtube.com/embed/wJtC4NxvjQA?si=UXx1tLQeTINQev6V" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li> <a href="whatsapp://send?text=https://www.youtube.com/embed/wJtC4NxvjQA?si=UXx1tLQeTINQev6V" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                </div>

                <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

            </div> *@


            @*   Upcoming Events *@
         @*    <div class="item category_3">

               

                <div class="project">

                    
                    <div class="project-image">

                        <img src="~/images/Jairam image.jpg" alt="">

                        <div class="overlay">
                            <div class="share-wrap style-2">

                                <span class="share-title">Share this:</span>
                                <ul class="social-icons share">


                                    
                                </ul>

                            </div>
                        </div>

                    </div>


                    <div class="project-description">

                        <div class="description-inner">

                           
                            <div class="content-element2">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <h6 class="event-detail-title"><b>Details</b></h6>

                                        <ul class="event-detail-list">
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Date:
                                                </div>
                                                <div class="detail-col">
                                                    October 13, 2024
                                                </div>

                                            </li>
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Time:
                                                </div>
                                                <div class="detail-col">
                                                    10.00 AM - 10:30 PM
                                                </div>

                                            </li>

                                            <li class="flex-row flex-justify">

                                              

                                            </li>

                                        </ul>

                                    </div>


                                </div>

                            </div>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">
                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo/?fbid=122186570078208737&set=pb.61556262134056.-2207520000" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li> <a href="whatsapp://send?text=https://www.facebook.com/photo/?fbid=122186570078208737&set=pb.61556262134056.-2207520000" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                        
                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>

                  

                </div>

               
            </div> *@
           @*  <div class="item category_3">

               
                <div class="project">

                 

                    <div class="project-image">

                        <img src="~/images/suchana.jpg" alt="">

                        <div class="overlay">
                            <div class="share-wrap style-2">

                                <span class="share-title">Share this:</span>
                                <ul class="social-icons share">
                                </ul>

                            </div>
                        </div>

                    </div>

                    <div class="project-description">

                        <div class="description-inner">

                            <div class="content-element2">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <h6 class="event-detail-title"><b>Details</b></h6>

                                        <ul class="event-detail-list">
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Date:
                                                </div>
                                                <div class="detail-col">
                                                    October 14, 2024
                                                </div>

                                            </li>
                                            <li class="flex-row flex-justify">

                                                <div class="detail-col">
                                                    Time:
                                                </div>
                                                <div class="detail-col">
                                                    11.00 AM - 5.00 PM
                                                </div>

                                            </li>


                                        </ul>

                                    </div>


                                </div>

                            </div>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">
                                        <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/photo/?fbid=122186570078208737&set=pb.61556262134056.-2207520000" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li> <a href="whatsapp://send?text=https://www.facebook.com/photo/?fbid=122186570078208737&set=pb.61556262134056.-2207520000" target="_blank" class="sh-twitter" style="background: #37a333;"><i class="icon-whatsapp"></i>WhatsApp</a></li>

                                       
                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>

                  
                </div>

              
            </div> *@
        </div>

    </div>
</div>