@{
    ViewData["Title"] = "OurJourney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-wrap with-bg type-2">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="#">Our Journey</a></li>

        </ul>
    </div>
</div>
<div class="page-section">

    <div class="container extra-size2">


        <center><h1 class="section-title">Our Journey</h1></center>

        <div class="tabs tabs-section type-2 vertical clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" style="border-top: 3px solid #d0dae8;">
            <!--tabs navigation-->
            <ul class="tabs-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                @* <li class="ui-state-default ui-corner-top ui-tabs-active" role="tab" tabindex="-1" aria-controls="tab-1" aria-labelledby="ui-id-1" aria-selected="false">
                <a href="#tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Intro</a> *@
                </li>
                @* <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
                <a href="#tab-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2020s</a> *@
                </li>
                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
                    <a href="#tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2021s</a>
                </li>
                <li class="ui-state-default ui-corner-top  ui-state-active" role="tab" tabindex="0" aria-controls="tab-3" aria-labelledby="ui-id-3" aria-selected="true">
                    <a href="#tab-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">2022s</a>
                </li>
                @* <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-4" aria-labelledby="ui-id-4" aria-selected="false">
                <a href="#tab-4" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">2023s</a>
                </li> *@
                @* <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-5" aria-labelledby="ui-id-5" aria-selected="false">
                <a href="#tab-5" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5">2024s</a>
                </li>
                *@
            </ul>
            <!--tabs content-->
            <div class="tabs-content">
                <div id="tab-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">


                    <p style="text-align:justify">The Khatiyani Intellectual Forum (KBM) was initiated in 2010 from a small village called Nichitpur (Galagi), located in the Dumri block of Giridih district, Jharkhand. The situation in this village was quite dire. People were far removed from education, the healthcare system was in terrible shape, there were no employment opportunities, and social evils like dowry practices, witchcraft, superstitions, and frequent disputes plagued the community. There was no respect for elders, and most people were addicted to intoxicants. The environment was being degraded with deforestation, and even small plants and trees were being cut down, with forests frequently set on fire.. </p>




                </div>
                <div id="tab-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                    <p style="text-align:justify">Witnessing all these issues, the local intellectuals came together and formed a group with the aim of bringing about a comprehensive social transformation. Their primary focus was on areas like education, healthcare, the environment, employment, sports, addiction-free living, and eliminating all forms of social evils. They made a pledge to turn this village into a model village. A dilapidated community hall within the village was repaired, and free remedial classes were started for the children and youth. Daily basic classes were organized for children of all sections, and monthly tests, quizzes, debates, discussions, moral education, painting competitions, and entertainment activities like drama, dancing, singing, and indoor games such as carrom and chess were held.
                    <p>



                </div>
                <div id="tab-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">

                    <p style="text-align:justify">In connection with the same movement, the second foot march was carried out on 2 January 2022, after which a meeting of about 45 youths from Dhanbad and Bokaro was held at Vinod Bihari Mahto Stadium Ramdih, Chas, and was decided to further intensify this movement against the government with the slogan 'Bahari Bhasha Nahi Chalto'. Then again on January 10, 2022, another “Mashal Julus” and “Putla Dahan” movement was held at Randhir Verma Chowk of Dhanbad. During this movement, the voice of one youth became viral on social media and the voice was of Tiger Jairam Mahato. Thenceforth, another meeting of all the youth takes place at Damodar Bridge, and it is decided to form a human chain to show strength in language protest against the government, and the date of 30 January 2022 is set for the human chain. This movement was successful but there are many issues in Jharkhand out of them “1932 Khatiyan” is one of the most burning issues and the success of the present movement ignites another 1932 Khatiyan movement.  In this movement “Run for Khatian” and “Bidhan Sabha Gheraw” was conducted on 20 and 21 March 2022, respectively
                </div>
                <div id="tab-4" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                    <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum. vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia. </p>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.  </p>

                </div>
                <div id="tab-5" aria-labelledby="ui-id-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                    <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum. vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia. </p>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.  </p>

                </div>
                <div id="tab-6" aria-labelledby="ui-id-6" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                    <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum. vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia. </p>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.  </p>

                </div>
                <div id="tab-7" aria-labelledby="ui-id-7" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">

                    <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum. vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia. </p>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.  </p>

                </div>
            </div>
        </div>

    </div>

</div>
