@{
    ViewData["Title"] = "PradeepKumar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .product.single .product-description {
        padding: 0;
        color: #5f6366;
    }

    .product-description {
        position: relative;
    }

    .product.single .product-name:not(:last-child) {
        margin-bottom: 5px;
    }

    .product.single .product-name {
        line-height: 48px;
        font-weight: normal;
    }

    .product.single .product-price {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 45px;
    }
</style>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<style>
    .text-justify {
        text-align: justify !important;
    }
</style>
<div class="breadcrumbs-wrap with-bg type-2">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Pradeep Kumar </li>
        </ul>
    </div>
</div>
<div class="page-content-wrap">
    <div class="container">
        <div class="content-element7">
            <div class="product single">

                <div class="row">

                    <div class="col-sm-5">

                        <div class="image-preview-container">

                            <!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->

                            <div class="image-preview">

                                @*                                 <img src="~/images/jlkm/candidate/jairam.jpg" id="zoom-image" data-zoom-image="images/555x555_img1.jpg" src="images/555x555_img1.jpg" alt="" data-fancybox="group">
                                *@

                                <table style="width:100%">
                                    <tr>

                                        <img src="~/images/pradeepkumar.jpeg" style="width: 442px;border-radius: 23px;border: 2px solid #4CAF50;" />
                                       

                                    </tr>
                                    <tr>
                                        <th style="color:red;"> Name</th>
                                        <th>Pradeep Kumar </th>

                                    </tr>
                                    <tr>
                                        <th style="color:red;">Gender</th>
                                        <th>Male</th>

                                    </tr>
                                    @* <tr>
                                    <th style="color:red;">Profession</th>
                                    <th>Youth Leader (Politician)</th>

                                    <tr>
                                    <th style="color:red;">Constituency</th>
                                    <th>Dumri, Giridih</th>

                                    </tr> *@
                                    @*  <tr>
                                    <th style="color:red;">Date Of Birth</th>
                                    <th>27 Sept 1994</th>


                                    </tr> *@
                                    <tr>
                                        <th style="color:red;">Birth Place</th>
                                        <th>Galagi,Nimiyadhat,Giridih(JH)</th>

                                    </tr>
                                    <tr>
                                        <th style="color:red;">Religion </th>
                                        <th>Hindu</th>

                                    </tr>
                                    <tr>
                                        <th style="color:red;">Citizenship</th>
                                        <th>Indian</th>

                                    </tr>

                                    <tr>
                                        <th style="color:red;">Father's Name</th>
                                        <th>Sri Lalchand Mahto</th>

                                    </tr>
                                    @* <tr>
                                    <th style="color:red;">Siblings</th>
                                    <th>1 Younger Bother</th>

                                    </tr> *@
                                    <tr>
                                        <th style="color:red;">Marital Status</th>
                                        <th>Married</th>

                                    </tr>


                                </table>


                            </div><!--/ .image-preview-->
                            <!-- - - - - - - - - - - - - - End of Image Preview Container - - - - - - - - - - - - - - - - -->
                            <!-- - - - - - - - - - - - - - Thumbnails - - - - - - - - - - - - - - - - -->

                            <div class="carousel-type-4 type-2">

                                <div class="owl-carousel type-small product-thumbs owl-loaded owl-drag" id="thumbnails" data-max-items="4">

                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 424px;">
                                            <div class="owl-item active" style="width: 131.25px; margin-right: 10px;">
                                                <a class="active" href="#" data-image="images/555x555_img1.jpg" data-zoom-image="images/555x555_img1.jpg">

                                                    <img src="images/130x130_img1.jpg" alt="">

                                                </a>
                                            </div><div class="owl-item active" style="width: 131.25px; margin-right: 10px;">
                                                <a href="images/555x555_img2.jpg" data-image="images/555x555_img2.jpg" data-zoom-image="images/555x555_img2.jpg" data-fancybox="group">

                                                    <img src="images/130x130_img2.jpg" alt="">

                                                </a>
                                            </div><div class="owl-item active" style="width: 131.25px; margin-right: 10px;">
                                                <a href="images/555x555_img3.jpg" data-image="images/555x555_img3.jpg" data-zoom-image="images/555x555_img3.jpg" data-fancybox="group">

                                                    <img src="images/130x130_img3.jpg" alt="">

                                                </a>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>
                                </div>

                            </div>

                            <!-- - - - - - - - - - - - - - End of Thumbnails - - - - - - - - - - - - - - - - -->

                        </div><!--/ .image-preview-container -->

                    </div>

                    <div class="col-sm-7">

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->

                        <div class="product-description">

                            <h3 class="product-name" style="margin-left: -12px; color:green;"><strong>Pradeep Kumar</strong></h3>

                            <div class="pricing-area">

                                <div class="product-price" style="margin-left: 0px;">
                                    President
                                </div>

                            </div>

                            @*   <p class="text-justify">
                            Jairam Mahato's rise in Jharkhand politics marks a shift towards youth-driven leadership in the state, especially as he highlights regional issues like local planning policies and language rights. His engagement with grassroots movements and his academic background reflects his potential to bring fresh energy into the political arena. Despite the legal challenges he faces, his growing influence indicates his ability to mobilize public support, particularly among the youth of Jharkhand.
                            He is the Independent candidate who contested the 2024 Lok Sabha elections from the Giridih constituency in Jharkhand. At 29 years old, Jairam is a dedicated and educated representative of the youth, holding a postgraduate degree. His candidacy reflects his commitment to bringing fresh perspectives to the political landscape of Jharkhand.
                            Professionally engaged as a student, Jairam also carries the weight of responsibility with 13 legal cases filed against him, which he continues to address.
                            Jairam Kumar Mahato stands as a strong voice for the people of Jharkhand, aiming to create meaningful change and represent Jharkhand State with integrity.

                            <ul class="custom-list type-2">
                            <li class="text-justify">


                            </li>
                            </ul>

                            </p> *@
                            <p class="product-excerpt">
                                <ul class="custom-list type-2">
                                    @* <li>
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    </li> *@
                                    @* <li>
                                        He is the Independent candidate who contested the 2024 Lok Sabha elections from the Giridih constituency in Jharkhand.     At 29 years old, Jairam is a dedicated and educated representative of the youth, holding a postgraduate degree. His candidacy reflects his commitment to bringing fresh perspectives to the political landscape of Jharkhand.
                                    </li>
                                    <li>
                                        Professionally engaged as a student, Jairam also carries the weight of responsibility with 13 legal cases filed against him, which he continues to address.
                                    </li>
                                    <li>
                                        Jairam Kumar Mahato stands as a strong voice for the people of Jharkhand, aiming to create meaningful change and represent Jharkhand State with integrity.

                                    </li>
                                    <li>
                                        Join us in supporting Jairam’s vision for a better Jharkhand and a brighter future for India.

                                    </li> *@
                                </ul>

                            </p>
                            <div class="content-element">

                                <div class="share-wrap style-2">

                                    <span class="share-title">Share this:</span>
                                    <ul class="social-icons share">

                                        <li><a href="#" class="sh-facebook" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
                                        <li><a href="#" target="_blank" class="sh-google"><i class="instagram"></i>Instagram</a></li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                    </div>

                </div><!--/ .row -->

            </div><!--/ .product-single -->

        </div>
        @*    <div class="content-element7">

        <div class="row">

        <main id="main" class="col-md-8 col-sm-12">

        <div class="tabs tabs-section style-2 clearfix ui-tabs ui-widget ui-widget-content ui-corner-all">
        <!--tabs navigation-->
        <ul class="tabs-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tab-1" aria-labelledby="ui-id-1" aria-selected="true">
        <a href="#tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Education</a>
        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
        <a href="#tab-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Social Activity</a>
        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
        <a href="#tab-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Andolan</a>
        </li>
        </ul>
        <!--tabs content-->
        <div class="tabs-content">
        <div id="tab-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">

        <p class="text-justify">

        Jairam Kumar Mahato, the President of “Jharkhand Loktantrik Krantikari Morcha” has a notable educational background that significantly shaped his approach to governance and leadership.
        Jairam completed his Bachelor’s degree in English literature from the P. K. Roy Memorial College of Dhanbad. He was a standout student, after completing his graduation Mahato pursued a Master's degree in English literature from the same college. Currently, he is a student of Doctor of Philosophy (Ph.D.) in English Literature at Vinod Bihari Mahato University, Jharkhand.

        </div>
        <div id="tab-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <p class="text-justify">

        Jairam is deeply committed to social justice, equality, and human rights throughout his life. His social activities extend far beyond his political leadership, and he is making a profound legacy in the fields of civil rights and social welfare. These social activities are deeply intertwined with his political life, making him a symbol of hope, justice, and humanity across Jharkhand.

        </p>


        </div>
        <div id="tab-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <p class="text-justify">



        On 24 December 2021, the government of Jharkhand released a notification regarding the inclusion of non-Jharkhandi languages (Bhojpuri, Magahi, Angika) in the list of regional languages for state-level examinations in 11 districts of the state. Following this notification, a language movement began in Jharkhand, leading to protests by the youth in many places, including Bokaro, Giridih, and Dhanbad districts. These youth were led by Jairam Mahato.
        As a result of this movement, Jairam gained popularity among the youth of Jharkhand, and it was decided to intensify the movement against the government with the slogan <b>“Bahari Bhasa Nay Chalto”</b>. Another meeting of all the youth was held at Damodar Bridge, between Dhanbad and Bokaro, where it was decided to form a human chain to demonstrate their strength and protest against the government.
        This movement was successful, but there are many other burning issues in Jharkhand, with ,<b>“1932 Khatiyan”</b> being one of the most critical. The success of the language movement ignited the 1932 Khatiyan movement, marking Jairam Mahato's entry into the politics of Jharkhand.

        </p>
        </div>

        </div>
        </div>
        </main>
        </div>
        </div> *@
    </div>
</div>